.search {
    outline: none;
}

.choose {

    border: 2px solid white;

}

.choose:hover {
    color: blue;
    border: 2px solid blue;
    background-color: white;
}

/* from get in touch section  */
.get-touch {
    background-image: url('../../assets//get-in-touch.jpg');
    background-position: center center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.forma input,
textarea {
    background-color: #F5F5F5;

}

.clicky {
    z-index: 2;
}

.blicky {
    z-index: 1;
}