button {

    padding: 10px;
    color: #0E8E94;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #0E8E94;

}



.active-tab {
    color: white;
    background-color: #0E8E94;
}

.eye {
    position: absolute;
    right: 0;
    width: auto;
}

.role {
    border: 1px solid black;
}



.loading {
    background-color: blue;
    /* Change to the desired background color */
}

.loading::after {
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-left: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}