button {

    padding: 10px;
    color: #0E8E94;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #0E8E94;

}



.active-tab {
    color: white;
    background-color: #0E8E94;
}

.eye {
    position: absolute;
    right: 0;
    width: auto;
}

.role {
    border: 1px solid black;
}