.inbox-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 60px;
}

.text-area-container {
    margin-top: auto;
    /* Push the text area to the bottom */
}