.inbox-container {
    display: flex;
    flex-direction: column;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
}

.text-area-container {
    margin-top: auto;
    /* Push the text area to the bottom */
}